.projects-section {
  padding: 90px 0;
  background: #262b2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-section .title {
  font-family: ralewayregular, sans-serif;
  font-size: 3em;
  text-align: center;
  color: white;
  text-shadow: 0 0 2px #ddd;
}
.projects-section .title-bar {
  width: 90px;
  border-bottom: 4px solid white;
  margin: 0 auto;
  animation-delay: 0.15s;
  margin-bottom: 100px;
  box-shadow: 0 0 1px #ddd;
}
