.footer-section {
  padding: 50px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262b2e;
  flex-direction: column;
  position: relative;

  .connect-me {
    display: flex;
    align-items: center;
    justify-content: center;

    .social-icon {
      margin: 0 20px;
      color: white;

      &:hover {
        color: #04C2C9;
      }
      span {
        font-size: 2.0em;
        cursor: pointer;
      }
    }
  }


  .copyright {
    display: flex;
    color: #8F9AA7;
    font-size: 0.9em;
    text-align: center;
    margin-top: 20px;

    .year {
      color: #E31B6D;
      margin-left: 0.5em;
    }
  }

  .move-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.4em;
    .move-top {
      background-color: #E31B6D;
      color: white;
      padding: 8px 8px;

      &:hover {
        cursor: pointer;
        color: white;
      }
      span {
        font-size: 2.4em;
      }
    }
  }
}